{
  "openapi": "3.1.0",
  "info": {
    "title": "Numo orderbook API",
    "description": "REST endpoints exposed by Numo's markets-service and execution-service for dollar stablecoins. Real-time book, trades, and order streams are served over the WebSocket endpoint documented in the WebSocket streams reference.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.numofx.com",
      "description": "markets-service"
    },
    {
      "url": "https://executor.numofx.com",
      "description": "execution-service"
    }
  ],
  "tags": [
    {
      "name": "Markets service"
    },
    {
      "name": "Execution service"
    }
  ],
  "paths": {
    "/v1/markets": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List enabled markets",
        "operationId": "listMarkets",
        "responses": {
          "200": {
            "description": "Enabled market metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketPresentation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get order book",
        "operationId": "getOrderBook",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Market identifier: cNGN-USDC or cNGN-PERP, as GET /v1/markets lists it. Matched exactly. The pre-rename identifiers USDCcNGN-SPOT and USDCcNGN-PERP are accepted as deprecated aliases until 2027-01-06; a request using one is answered under the canonical identifier with Deprecation: true and X-Canonical-Market response headers."
          },
          {
            "name": "asset_address",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "sub_id",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Top of book for a market",
            "headers": {
              "Deprecation": {
                "description": "Present, with the value true, only when the request named the market by a deprecated alias (USDCcNGN-SPOT or USDCcNGN-PERP). Those aliases are removed on 2027-01-06.",
                "schema": { "type": "string", "enum": ["true"] }
              },
              "X-Canonical-Market": {
                "description": "Present only alongside Deprecation: the canonical identifier the body is answered under, cNGN-USDC or cNGN-PERP.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookResponse"
                }
              }
            }
          },
          "400": {
            "description": "unknown_market: the request named no listed market. Either the symbol, or the asset_address and sub_id pair, matched nothing (identifiers match exactly; the deprecated USDCcNGN-SPOT and USDCcNGN-PERP still resolve until 2027-01-06), or the request named no market at all. Before 2026-10-08 both cases returned the spot book.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UnknownMarketResponse" },
                "examples": {
                  "unknown": {
                    "summary": "An identifier the venue does not list",
                    "value": { "error": "unknown_market", "message": "no such market: NOPE", "markets": ["cNGN-USDC", "cNGN-PERP"] }
                  },
                  "missing": {
                    "summary": "Neither symbol nor asset_address given",
                    "value": { "error": "unknown_market", "message": "symbol or asset_address is required", "markets": ["cNGN-USDC", "cNGN-PERP"] }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/tickers": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List tickers for integrators",
        "description": "One ticker per enabled market, in the pair orientation GET /v1/markets advertises: base_currency is the asset priced, target_currency the asset it is priced in. On cNGN-USDC and cNGN-PERP that is cNGN priced in USDC, the same orientation as GET /v1/book and GET /v1/trades; nothing is inverted. Prices are USDC per cNGN to 10 decimal places: last_price, high, low and bid round down, ask rounds up, so the ticker agrees with the orderbook's top levels. base_volume is cNGN to 6 decimal places, target_volume USDC to 18, both rounded down. Use this endpoint, not stats_24h, for a market data listing. Responses are cached for up to 5 seconds and carry Cache-Control: public, max-age=5, so polling faster than that returns the same data.",
        "operationId": "listIntegrationTickers",
        "responses": {
          "200": {
            "description": "Tickers for every enabled market, sorted by ticker_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/IntegrationTicker" }
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/orderbook": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get orderbook for integrators",
        "description": "Resting orders aggregated into price levels in the advertised pair orientation. On cNGN-USDC and cNGN-PERP, bids are orders buying cNGN and asks are orders selling it, priced in USDC per cNGN with quantities in cNGN. Bid prices round down and ask prices round up to 10 decimal places, and quantities round down to 6, so no level shows a better price or more size than is resting. Orders whose prices round to the same level are summed; a level whose quantity rounds to 0 is dropped. At most the first 1000 resting orders per side are read. Responses are cached for up to 5 seconds and carry Cache-Control: public, max-age=5, so polling faster than that returns the same data.",
        "operationId": "getIntegrationOrderbook",
        "parameters": [
          {
            "name": "ticker_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "A ticker_id from GET /v1/integrations/tickers: cNGN-USDC or cNGN-PERP, matched exactly. The deprecated USDCcNGN-SPOT and USDCcNGN-PERP are accepted until 2027-01-06 and answered under the canonical ticker_id with Deprecation: true and X-Canonical-Market headers. An unknown value is rejected rather than answered with another market."
          },
          {
            "name": "depth",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 50 },
            "description": "Maximum price levels per side."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated levels, best first",
            "headers": {
              "Deprecation": {
                "description": "Present, with the value true, only when the request named the market by a deprecated alias (USDCcNGN-SPOT or USDCcNGN-PERP). Those aliases are removed on 2027-01-06.",
                "schema": { "type": "string", "enum": ["true"] }
              },
              "X-Canonical-Market": {
                "description": "Present only alongside Deprecation: the canonical identifier the body is answered under, cNGN-USDC or cNGN-PERP.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IntegrationOrderbookResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or unknown ticker_id, or depth out of range",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/trades": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List trades for integrators",
        "description": "Fills newest first, in the advertised pair orientation. On cNGN-USDC and cNGN-PERP, price is USDC per cNGN to 10 decimal places, base_volume is the cNGN traded to 6 decimal places and target_volume the USDC it traded for to 18, all rounded to nearest. type is the taker's side in cNGN. Responses are cached for up to 5 seconds and carry Cache-Control: public, max-age=5, so polling faster than that returns the same data.",
        "operationId": "listIntegrationTrades",
        "parameters": [
          {
            "name": "ticker_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "A ticker_id from GET /v1/integrations/tickers: cNGN-USDC or cNGN-PERP, matched exactly. The deprecated USDCcNGN-SPOT and USDCcNGN-PERP are accepted until 2027-01-06 and answered under the canonical ticker_id with Deprecation: true and X-Canonical-Market headers."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 100 }
          },
          {
            "name": "before_trade_id",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 },
            "description": "The next_before_trade_id from the previous page, to page to older trades."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of trades, newest first",
            "headers": {
              "Deprecation": {
                "description": "Present, with the value true, only when the request named the market by a deprecated alias (USDCcNGN-SPOT or USDCcNGN-PERP). Those aliases are removed on 2027-01-06.",
                "schema": { "type": "string", "enum": ["true"] }
              },
              "X-Canonical-Market": {
                "description": "Present only alongside Deprecation: the canonical identifier the body is answered under, cNGN-USDC or cNGN-PERP.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IntegrationTradesResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or unknown ticker_id, or an invalid limit or before_trade_id",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/positions": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List perp positions",
        "description": "A subaccount's perpetual positions and margin accounts, read from chain at request time. Positions are public on chain, so no signature is required. Everything is in the cNGN-PERP orientation: prices in USDC per cNGN, sizes in cNGN, long means long cNGN and is a positive engine_position. positions holds one entry per perp market with a non-zero position; accounts one entry per enabled perp market whether or not a position is held. Both are [] rather than null when empty, and both are empty when the deployment serves no perp. Market prices and margin rates are cached for 10 seconds; the account's balances are read fresh on every request.",
        "operationId": "listPositions",
        "parameters": [
          {
            "name": "subaccount_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Base-10 subaccount id, a non-negative integer."
          }
        ],
        "responses": {
          "200": {
            "description": "The account's perp positions and margin accounts",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PositionsResponse" }
              }
            }
          },
          "400": {
            "description": "subaccount_id missing or not a non-negative integer",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "502": {
            "description": "The position or account could not be read from chain. Retry.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/candles": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get OHLCV candles",
        "operationId": "getCandles",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Market identifier: cNGN-USDC or cNGN-PERP, as GET /v1/markets lists it. Matched exactly. The pre-rename identifiers USDCcNGN-SPOT and USDCcNGN-PERP are accepted as deprecated aliases until 2027-01-06; a request using one is answered under the canonical identifier with Deprecation: true and X-Canonical-Market response headers."
          },
          {
            "name": "asset_address",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "sub_id",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["1m", "5m", "15m", "1h", "4h", "1d"],
              "default": "1h"
            },
            "description": "Bucket size"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 1000, "default": 200 },
            "description": "Maximum number of buckets to return"
          },
          {
            "name": "start",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "RFC3339 lower bound, inclusive"
          },
          {
            "name": "end",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "RFC3339 upper bound, must be after start"
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV buckets, oldest first",
            "headers": {
              "Deprecation": {
                "description": "Present, with the value true, only when the request named the market by a deprecated alias (USDCcNGN-SPOT or USDCcNGN-PERP). Those aliases are removed on 2027-01-06.",
                "schema": { "type": "string", "enum": ["true"] }
              },
              "X-Canonical-Market": {
                "description": "Present only alongside Deprecation: the canonical identifier the body is answered under, cNGN-USDC or cNGN-PERP.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandlesResponse"
                }
              }
            }
          },
          "400": {
            "description": "unknown_market, or an invalid query parameter (those return {\"error\": \"<message>\"} as before). unknown_market: the request named no listed market. Either the symbol, or the asset_address and sub_id pair, matched nothing (identifiers match exactly; the deprecated USDCcNGN-SPOT and USDCcNGN-PERP still resolve until 2027-01-06), or the request named no market at all. Before 2026-10-08 both cases returned the spot book.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UnknownMarketResponse" },
                "examples": {
                  "unknown": {
                    "summary": "An identifier the venue does not list",
                    "value": { "error": "unknown_market", "message": "no such market: NOPE", "markets": ["cNGN-USDC", "cNGN-PERP"] }
                  },
                  "missing": {
                    "summary": "Neither symbol nor asset_address given",
                    "value": { "error": "unknown_market", "message": "symbol or asset_address is required", "markets": ["cNGN-USDC", "cNGN-PERP"] }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/trades": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get recent trades",
        "operationId": "getTrades",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Market identifier: cNGN-USDC or cNGN-PERP, as GET /v1/markets lists it. Matched exactly. The pre-rename identifiers USDCcNGN-SPOT and USDCcNGN-PERP are accepted as deprecated aliases until 2027-01-06; a request using one is answered under the canonical identifier with Deprecation: true and X-Canonical-Market response headers."
          },
          {
            "name": "asset_address",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "sub_id",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100 }
          },
          {
            "name": "before_trade_id",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades and 24h stats",
            "headers": {
              "Deprecation": {
                "description": "Present, with the value true, only when the request named the market by a deprecated alias (USDCcNGN-SPOT or USDCcNGN-PERP). Those aliases are removed on 2027-01-06.",
                "schema": { "type": "string", "enum": ["true"] }
              },
              "X-Canonical-Market": {
                "description": "Present only alongside Deprecation: the canonical identifier the body is answered under, cNGN-USDC or cNGN-PERP.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradesResponse"
                }
              }
            }
          },
          "400": {
            "description": "unknown_market, or an invalid limit or before_trade_id (those return {\"error\": \"<message>\"} as before). unknown_market: the request named no listed market. Either the symbol, or the asset_address and sub_id pair, matched nothing (identifiers match exactly; the deprecated USDCcNGN-SPOT and USDCcNGN-PERP still resolve until 2027-01-06), or the request named no market at all. Before 2026-10-08 both cases returned the spot book.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UnknownMarketResponse" },
                "examples": {
                  "unknown": {
                    "summary": "An identifier the venue does not list",
                    "value": { "error": "unknown_market", "message": "no such market: NOPE", "markets": ["cNGN-USDC", "cNGN-PERP"] }
                  },
                  "missing": {
                    "summary": "Neither symbol nor asset_address given",
                    "value": { "error": "unknown_market", "message": "symbol or asset_address is required", "markets": ["cNGN-USDC", "cNGN-PERP"] }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List order history",
        "operationId": "listOrderHistory",
        "description": "The authenticated owner's orders in every status (active, matching, filled, cancelled, expired), newest first. The owner is taken from the signed X-Numo-Auth frame, never from a parameter. Filled orders, and any cancelled or expired order that traded, are retained indefinitely; cancelled and expired orders with no fills for 30 days.",
        "parameters": [
          {
            "name": "X-Numo-Auth",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Base64url-encoded JSON auth frame {address, signature, nonce, issued_at, expiry}, signed with personal_sign over the order-history message. See the endpoint page for the exact message."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "The next_before value from the previous page, to page to older orders."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the owner's orders, newest first",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OrderHistoryResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid limit or before cursor",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, expired or mismatched auth frame",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Markets service"],
        "summary": "Create order",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Accepted order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "409": {
            "description": "Duplicate order",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/fills": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List fills",
        "operationId": "listFills",
        "description": "The fills on the authenticated owner's orders, newest first. Takes the same X-Numo-Auth frame as GET /v1/orders; the owner is taken from it, never from a parameter. A trade between two of the owner's orders is listed once per order.",
        "parameters": [
          {
            "name": "X-Numo-Auth",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Base64url-encoded JSON auth frame {address, signature, nonce, issued_at, expiry}, signed with personal_sign over the order-history message. The same frame GET /v1/orders accepts."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "The next_before value from the previous page, to page to older fills."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the owner's fills, newest first",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FillsResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid limit or before cursor",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, expired or mismatched auth frame",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/withdrawals": {
      "post": {
        "tags": ["Markets service"],
        "summary": "Create a withdrawal",
        "operationId": "createWithdrawal",
        "description": "Withdraws from a subaccount held by Matching with one signed WithdrawalModule action. The venue verifies the signature and that Matching records action.owner as the owner, simulates the withdrawal, and submits it through Matching.verifyAndMatch. Tokens are paid to action.owner. Every check fails closed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WithdrawalRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted. receipt_status timeout means broadcast but not yet confirmed.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WithdrawalReceipt" }
              }
            }
          },
          "400": {
            "description": "Malformed or off-policy request, or the subaccount is not deposited in Matching",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "The signature does not authorize the action",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "403": {
            "description": "Matching records another owner for the subaccount",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "422": {
            "description": "The executor refused it: the simulation reverted, and revert names the revert",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithdrawalRejection" } } }
          },
          "429": {
            "description": "A withdrawal for this owner is in progress, or more than five were requested in a minute",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "502": {
            "description": "Outcome unknown: check the balance before signing another withdrawal",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "503": {
            "description": "Withdrawals are not enabled, or the signature or owner could not be read",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/v1/deposits": {
      "post": {
        "tags": ["Markets service"],
        "summary": "Create a deposit",
        "operationId": "createDeposit",
        "description": "Opens a perp margin account (subaccount_id 0) and funds it, or tops one up, with one signed DepositModule action. The venue verifies the action, reads the nonce, ownership and the owner's token balance and allowance, the issuer's freezes and pause, and the cNGN cap from the chain, simulates, and submits it through Matching.verifyAndMatch, paying the gas.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DepositRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted. receipt_status timeout means broadcast but not yet confirmed; resubmit the same request for the outcome.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/DepositReceipt" }
              }
            }
          },
          "400": {
            "description": "Malformed or off-policy request, or a chain pre-check failed: a spent nonce, not your account, not a perp account, or too little USDC balance or allowance. error says what to do; revert names the on-chain revert when there was one.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithdrawalRejection" } } }
          },
          "401": {
            "description": "The signature does not authorize the action",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "422": {
            "description": "The simulation reverted for a reason not listed under 400, and revert names it",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithdrawalRejection" } } }
          },
          "202": {
            "description": "The same signed deposit is already being submitted; status is pending. Read it later with GET /v1/deposits/{action_hash}.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DepositRecord" } } }
          },
          "429": {
            "description": "A deposit for this owner is in progress, more than three were requested in a minute, or six were submitted in the last hour (Retry-After)",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "502": {
            "description": "Could not confirm whether the deposit was submitted",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "503": {
            "description": "Deposits are not enabled, or paused: the venue's gas wallet is below its reserve, or the hour's sponsored gas budget is spent",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/v1/deposits/{action_hash}": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get a deposit",
        "operationId": "getDeposit",
        "description": "A deposit's record by the EIP-712 hash of its signed action (Matching.getActionHash). A submitted deposit is re-read from the chain first, so a receipt that timed out resolves on the next read.",
        "parameters": [
          { "name": "action_hash", "in": "path", "required": true, "schema": { "type": "string" }, "description": "0x followed by 64 hex digits." }
        ],
        "responses": {
          "200": { "description": "The deposit", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DepositRecord" } } } },
          "202": { "description": "Still pending", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DepositRecord" } } } },
          "400": { "description": "Malformed action_hash", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "No deposit with this action_hash", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "503": { "description": "Deposits are not enabled, or the record could not be read", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/v1/orders/{order_id}": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get order status",
        "operationId": "getOrderStatus",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The order_id returned when the order was created"
          }
        ],
        "responses": {
          "200": {
            "description": "Current status and fill snapshot for the order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/orders/cancel": {
      "post": {
        "tags": ["Markets service"],
        "summary": "Cancel order by owner and nonce",
        "operationId": "cancelOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancelled order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Active order not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/execute": {
      "post": {
        "tags": ["Execution service"],
        "summary": "Execute a matched trade payload",
        "operationId": "executeMatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteMatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Match accepted by executor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteMatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid executor payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MarketPresentation": {
        "type": "object",
        "properties": {
          "market": { "type": "string", "description": "The market identifier: cNGN-USDC (spot) or cNGN-PERP (perp). Always the canonical identifier, whichever alias the request used. This is the value to pass as symbol, market and ticker_id.", "example": "cNGN-USDC" },
          "contract_type": { "type": "string" },
          "settlement_type": { "type": "string" },
          "base_asset_symbol": { "type": "string", "description": "The asset priced and sized. cNGN on both markets.", "example": "cNGN" },
          "quote_asset_symbol": { "type": "string", "description": "The asset prices are quoted in. USDC on both markets.", "example": "USDC" },
          "expiry_timestamp": { "type": "integer", "description": "Unix seconds at which the market expires. Omitted for markets that do not expire, including cNGN-USDC." },
          "display_name": { "type": "string", "description": "Human-readable pair name. Since 2026-10-08 it equals the market identifier: cNGN-USDC and cNGN-PERP. Use market as the identifier; this is for display.", "example": "cNGN-USDC" },
          "display_label": { "type": "string", "description": "Unit of every price on the market.", "example": "USDC per cNGN" },
          "tick_size": { "type": "string", "description": "Smallest price increment. Order prices are normalized against it." },
          "min_size": { "type": "string", "description": "Smallest tradable size. Order amounts are normalized against it, and an amount below it normalizes to zero and is rejected.", "example": "0.001" },
          "contract_multiplier": { "type": "string", "description": "Units of the base asset per contract. 1 on both markets.", "example": "1" },
          "settlement_note": { "type": "string" },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string" },
          "pricing_model": { "type": "string", "enum": ["linear", "variance", "volatility"], "description": "How the instrument's price relates to its underlying. All current markets are linear." },
          "price_semantics": { "type": "string", "enum": ["linear", "variance", "volatility"], "description": "Interpretation of the raw price fields. Mirrors pricing_model." },
          "display_price_kind": { "type": "string", "enum": ["direct", "vol_percent"], "description": "How a client should render the price. All current markets are direct." },
          "display_semantics": { "type": "string", "enum": ["direct", "vol_percent"], "description": "Interpretation of the displayed price. Mirrors display_price_kind." },
          "last_trade_timestamp": { "type": "integer", "description": "Unix seconds of the most recent fill." },
          "order_entry_spec": { "type": "string", "description": "Identifies the ui_intent contract the market accepts: cngn_usdc_spot_v1 on cNGN-USDC, cngn_usdc_perp_v1 on cNGN-PERP. Both are identity mappings: the engine order is the ui_intent. The retired usdc_cngn_* specs are refused.", "example": "cngn_usdc_spot_v1" },
          "ui_price_unit": { "type": "string", "description": "Unit of ui_intent.price. The same as engine_price_unit.", "example": "USDC per cNGN" },
          "ui_size_unit": { "type": "string", "description": "Unit of ui_intent.size: cNGN amount on spot, cNGN contracts on the perp.", "example": "cNGN amount" },
          "ui_side_meaning": { "type": "string", "description": "What each side does, in cNGN. On spot: BUY acquires cNGN and pays USDC; SELL delivers cNGN and receives USDC. On the perp a BUY is a long of cNGN against USD.", "example": "BUY acquires cNGN and pays USDC; SELL delivers cNGN and receives USDC." },
          "engine_price_unit": { "type": "string", "description": "Unit of the raw price and limit_price fields.", "example": "USDC per cNGN" },
          "engine_amount_unit": { "type": "string", "description": "Unit of the raw desired_amount, filled_amount and size fields.", "example": "cNGN amount" },
          "engine_side_policy": { "type": "string", "description": "How ui_intent.side maps to the engine side. Always same_as_ui: a buy is a buy of cNGN on both.", "example": "same_as_ui" },
          "ui_price_to_engine": { "type": "string", "description": "Price conversion formula. The identity.", "example": "engine_price = ui_price" },
          "ui_size_to_engine": { "type": "string", "description": "Size conversion formula. The identity.", "example": "engine_amount = ui_size" },
          "trade_module_address": { "type": "string", "description": "The TradeModule an order for this market must name in action_json.module. The perp's differs from spot's." },
          "quote_asset_address": { "type": "string", "description": "The asset the market is quoted and settled in: the wrapped USDC escrow on spot, the perp's CashAsset on the perp." },
          "margin_manager_address": { "type": "string", "description": "The StandardManager (SRM) a trading account for this market is created under." },
          "perp": {
            "allOf": [{ "$ref": "#/components/schemas/PerpMarketState" }],
            "description": "cNGN-PERP only: the perp's live state read from chain. Omitted on spot."
          }
        }
      },
      "PerpMarketState": {
        "type": "object",
        "description": "The perp's live state from its own stack, in the cNGN-PERP orientation: prices in USDC per cNGN, sizes in cNGN. Cached for 10 seconds, except paused, which is re-read on every request. Decimal fields are strings without trailing zeros.",
        "required": ["mark_price", "index_price", "mark_price_ui", "index_price_ui", "funding_rate_1h", "ui_long_funding_rate_1h", "funding_interval_seconds", "open_interest", "open_interest_usd", "initial_margin_rate", "maintenance_margin_rate", "max_leverage", "trade_module_address", "quote_asset_address", "margin_manager_address", "trading_enabled", "paused", "position_cap", "collateral_assets", "updated_at"],
        "properties": {
          "mark_price": { "type": "string", "description": "Mark price in USDC per cNGN, up to 18 decimal places.", "example": "0.00072" },
          "index_price": { "type": "string", "description": "Index price in USDC per cNGN, up to 18 decimal places.", "example": "0.00072" },
          "mark_price_ui": { "type": "string", "description": "Mark price to 10 decimal places. Empty string when the chain reports no positive price.", "example": "0.00072" },
          "index_price_ui": { "type": "string", "description": "Index price to 10 decimal places. Empty string when the chain reports no positive price.", "example": "0.00072" },
          "funding_rate_1h": { "type": "string", "description": "Hourly funding rate from chain, signed, up to 18 decimal places.", "example": "0.0000125" },
          "ui_long_funding_rate_1h": { "type": "string", "description": "The same rate: positive means longs (long cNGN) pay shorts, negative means shorts pay longs. Annualise as rate x 24 x 365.", "example": "0.0000125" },
          "funding_interval_seconds": { "type": "integer", "description": "3600.", "example": 3600 },
          "open_interest": { "type": "string", "description": "Open interest in cNGN, up to 18 decimal places.", "example": "10000000" },
          "open_interest_usd": { "type": "string", "description": "Open interest at the index, in USDC, to 6 decimal places.", "example": "7200" },
          "initial_margin_rate": { "type": "string", "description": "The SRM's initial margin requirement as a fraction of notional at the mark.", "example": "0.33333" },
          "maintenance_margin_rate": { "type": "string", "description": "The SRM's maintenance margin requirement as a fraction of notional at the mark.", "example": "0.2" },
          "max_leverage": { "type": "string", "description": "1 / initial_margin_rate, to 2 decimal places. Empty string when the initial rate is zero.", "example": "3" },
          "trade_module_address": { "type": "string", "description": "The perp's TradeModule: what action_json.module must name on a perp order." },
          "quote_asset_address": { "type": "string", "description": "The perp's CashAsset: the USDC escrow margin is deposited into and PnL settles in." },
          "margin_manager_address": { "type": "string", "description": "The perp's SRM: the manager a perp margin account is created under." },
          "trading_enabled": { "type": "boolean", "description": "The chain's answer, read each refresh: the perp module is allowed on Matching, position_cap is above zero, and the SRM is not paused. Orders are accepted and rest while false; the matcher does not cross them." },
          "paused": { "type": "boolean", "description": "The SRM guardian's pause. While true every adjustment on perp accounts reverts and new perp orders are refused with a trading_paused error." },
          "position_cap": { "type": "string", "description": "The open-interest cap under the SRM, in cNGN, up to 18 decimal places.", "example": "50000000" },
          "collateral_assets": {
            "type": "array",
            "description": "Base assets the SRM credits as margin besides cash: today at most the perp's cNGN escrow. Empty array when margin is cash only.",
            "items": { "$ref": "#/components/schemas/PerpCollateralAsset" }
          },
          "index_lag": {
            "allOf": [{ "$ref": "#/components/schemas/PerpIndexLag" }],
            "description": "The index-lag gate's view. Omitted when the gate is not configured."
          },
          "updated_at": { "type": "integer", "description": "Unix seconds at which the block was read from chain." }
        }
      },
      "PerpCollateralAsset": {
        "type": "object",
        "description": "One base asset a perp account may post as margin, as the SRM values it.",
        "required": ["symbol", "asset_address", "margin_factor", "im_scale", "cap", "total", "deposits_open"],
        "properties": {
          "symbol": { "type": "string", "example": "cNGN" },
          "asset_address": { "type": "string", "description": "The escrow a margin deposit of this asset approves and pays into." },
          "margin_factor": { "type": "string", "description": "The share of the asset's index value that counts as maintenance margin, up to 18 decimal places.", "example": "0.5" },
          "im_scale": { "type": "string", "description": "Multiplies in again for initial margin, up to 18 decimal places.", "example": "1" },
          "cap": { "type": "string", "description": "The escrow's collateral cap under the SRM, in the asset, up to 18 decimal places. A deposit that would cross it reverts on chain." },
          "total": { "type": "string", "description": "What is posted now under the SRM, in the asset, up to 18 decimal places." },
          "deposits_open": { "type": "boolean", "description": "Whether the escrow accepts deposits for the SRM. The SRM may credit the asset before that, and a deposit offered in between reverts." }
        }
      },
      "PerpIndexLag": {
        "type": "object",
        "description": "The venue's latest spot sample against the perp's on-chain index. While enforced and lag_bps exceeds max_bps, or no fresh sample exists, new perp orders are refused until the index catches up.",
        "required": ["enforced", "max_bps"],
        "properties": {
          "enforced": { "type": "boolean", "description": "Whether the gate refuses orders, or only reports." },
          "max_bps": { "type": "integer", "description": "The lag, in basis points, beyond which new perp orders are refused." },
          "lag_bps": { "type": "integer", "description": "Spot's distance from the on-chain index in basis points, signed. Absent when the venue has no fresh sample." },
          "spot_sample_at": { "type": "integer", "description": "Unix seconds of the latest good sample. Omitted when none." },
          "spot_usdc_per_cngn": { "type": "string", "description": "The latest good sample, in USDC per cNGN, up to 18 decimal places. Omitted when none." },
          "sample_age_sec": { "type": "integer", "description": "Age of the latest good sample. Omitted when none." }
        }
      },
      "PositionsResponse": {
        "type": "object",
        "required": ["positions", "accounts"],
        "properties": {
          "positions": {
            "type": "array",
            "description": "One entry per perp market where the account holds a non-zero position. Empty array, never null.",
            "items": { "$ref": "#/components/schemas/PerpPosition" }
          },
          "accounts": {
            "type": "array",
            "description": "One entry per enabled perp market, whether or not a position is held. Empty array, never null.",
            "items": { "$ref": "#/components/schemas/PerpAccount" }
          }
        }
      },
      "PerpPosition": {
        "type": "object",
        "description": "A perp position in the cNGN-PERP orientation. Decimal fields are strings without trailing zeros.",
        "required": ["market", "subaccount_id", "engine_position", "ui_side", "ui_size", "ui_notional_usdc", "mark_price_ui", "index_price_ui", "unrealized_pnl", "initial_margin_surplus", "maintenance_margin_surplus"],
        "properties": {
          "market": { "type": "string", "example": "cNGN-PERP" },
          "subaccount_id": { "type": "string", "example": "42" },
          "engine_position": { "type": "string", "description": "The signed cNGN balance of the perp on chain, up to 18 decimal places. Positive is a long.", "example": "137400" },
          "ui_side": { "type": "string", "enum": ["long", "short"], "description": "long when engine_position is positive, short when negative. A long is long cNGN." },
          "ui_size": { "type": "string", "description": "|engine_position| in cNGN, to 6 decimal places.", "example": "137400" },
          "ui_notional_usdc": { "type": "string", "description": "ui_size valued at the index, in USDC, to 6 decimal places.", "example": "100.0272" },
          "mark_price_ui": { "type": "string", "description": "Mark price in USDC per cNGN to 10 decimal places.", "example": "0.0007278" },
          "index_price_ui": { "type": "string", "description": "Index price in USDC per cNGN to 10 decimal places.", "example": "0.000728" },
          "unrealized_pnl": { "type": "string", "description": "The position's unsettled and unrealized cash on chain, in USDC, signed, up to 18 decimal places.", "example": "-0.02748" },
          "initial_margin_surplus": { "type": "string", "description": "The SRM's initial margin surplus for the account, in USDC, signed. Below zero means under initial margin.", "example": "6.63045" },
          "maintenance_margin_surplus": { "type": "string", "description": "The SRM's maintenance margin surplus for the account, in USDC, signed. Below zero means liquidatable.", "example": "19.96708" },
          "liquidation_price_ui": { "type": "string", "description": "Estimated price in USDC per cNGN at which the maintenance surplus reaches zero if nothing else changes, for an account holding only this position, to 10 decimal places. Omitted when no positive price gets there (a long at 1x, for example).", "example": "0.00054615" }
        }
      },
      "PerpAccount": {
        "type": "object",
        "description": "The account's margin on a perp stack, whether or not it holds a position.",
        "required": ["market", "subaccount_id", "cash", "initial_margin_surplus", "maintenance_margin_surplus", "collateral"],
        "properties": {
          "market": { "type": "string", "example": "cNGN-PERP" },
          "subaccount_id": { "type": "string", "example": "42" },
          "cash": { "type": "string", "description": "Balance in the perp's CashAsset, in USDC, signed, up to 18 decimal places.", "example": "40" },
          "initial_margin_surplus": { "type": "string", "description": "The SRM's initial margin surplus, in USDC. For an account with no position, its cash.", "example": "6.63045" },
          "maintenance_margin_surplus": { "type": "string", "description": "The SRM's maintenance margin surplus, in USDC.", "example": "19.96708" },
          "collateral": {
            "type": "array",
            "description": "Each base asset the account has posted as margin. Empty array when none is held, or margin is cash only.",
            "items": { "$ref": "#/components/schemas/PerpAccountCollateral" }
          }
        }
      },
      "PerpAccountCollateral": {
        "type": "object",
        "required": ["symbol", "asset_address", "balance", "value_usd", "margin_value_usd"],
        "properties": {
          "symbol": { "type": "string", "example": "cNGN" },
          "asset_address": { "type": "string", "description": "The escrow holding the collateral." },
          "balance": { "type": "string", "description": "Posted balance in the asset, up to 18 decimal places." },
          "value_usd": { "type": "string", "description": "The balance at the index, in USDC, up to 18 decimal places." },
          "margin_value_usd": { "type": "string", "description": "value_usd x the asset's margin_factor: what the SRM credits as margin, in USDC." }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string" },
          "owner_address": { "type": "string" },
          "signer_address": { "type": "string" },
          "subaccount_id": { "type": "string" },
          "recipient_id": { "type": "string" },
          "nonce": { "type": "string" },
          "side": { "type": "string", "enum": ["buy", "sell"] },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string" },
          "desired_amount": { "type": "string" },
          "filled_amount": { "type": "string" },
          "limit_price": { "type": "string" },
          "worst_fee": { "type": "string" },
          "expiry": { "type": "integer" },
          "action_json": {},
          "signature": { "type": "string" },
          "status": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time", "description": "When the order was accepted onto the book." },
          "market": { "type": "string" },
          "contract_type": { "type": "string" },
          "settlement_type": { "type": "string" },
          "base_asset_symbol": { "type": "string" },
          "quote_asset_symbol": { "type": "string" },
          "display_name": { "type": "string" },
          "display_label": { "type": "string" },
          "tick_size": { "type": "string" },
          "price_semantics": { "type": "string" },
          "display_semantics": { "type": "string" },
          "spot_contract": { "$ref": "#/components/schemas/SpotContract" }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "order": { "$ref": "#/components/schemas/Order" }
        }
      },
      "Candle": {
        "type": "object",
        "properties": {
          "bucket_start": { "type": "string", "format": "date-time" },
          "open": { "type": "string" },
          "high": { "type": "string" },
          "low": { "type": "string" },
          "close": { "type": "string" },
          "volume": { "type": "string" },
          "quote_volume": { "type": "string" },
          "trade_count": { "type": "integer" }
        }
      },
      "CandlesResponse": {
        "type": "object",
        "properties": {
          "market_presentation": { "$ref": "#/components/schemas/MarketPresentation" },
          "interval": { "type": "string" },
          "candles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Candle" }
          }
        }
      },
      "OrderStatusResponse": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string" },
          "status": { "type": "string" },
          "filled_amount": { "type": "string" },
          "remaining_amount": { "type": "string" },
          "cancel_reason": { "type": "string" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "BookResponse": {
        "type": "object",
        "properties": {
          "market_presentation": { "$ref": "#/components/schemas/MarketPresentation" },
          "bids": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Order" }
          },
          "asks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Order" }
          }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "trade_id": { "type": "integer" },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string" },
          "price": { "type": "string" },
          "size": { "type": "string" },
          "aggressor_side": { "type": "string" },
          "taker_order_id": { "type": "string" },
          "maker_order_id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "market": { "type": "string" },
          "contract_type": { "type": "string" },
          "settlement_type": { "type": "string" },
          "spot_contract": { "$ref": "#/components/schemas/SpotContract" }
        }
      },
      "TradeStats24h": {
        "type": "object",
        "description": "Stats over the trailing 24 hours, computed from the market's fills on each request: a rolling window, not the UTC day. Prices are raw engine values in USDC per cNGN, the same orientation as every other price. Every field is omitted when nothing traded in the window.",
        "properties": {
          "change": { "type": "string", "description": "Last price minus the window's first traded price, in engine price units." },
          "high": { "type": "string", "description": "Highest price in the window, in USDC per cNGN." },
          "last": { "type": "string", "description": "Most recent engine price in the window." },
          "low": { "type": "string", "description": "Lowest price in the window, in USDC per cNGN." },
          "volume": { "type": "string", "description": "Summed fill size in cNGN, the base asset." },
          "quote_volume": { "type": "string", "description": "Summed fill notional (price x size) in USDC, the quote asset. Use this, not volume, for a USDC figure." }
        }
      },
      "TradesResponse": {
        "type": "object",
        "properties": {
          "market_presentation": { "$ref": "#/components/schemas/MarketPresentation" },
          "stats_24h": { "$ref": "#/components/schemas/TradeStats24h" },
          "trades": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Trade" }
          },
          "next_before_trade_id": { "type": "integer" }
        }
      },
      "SpotUIIntent": {
        "type": "object",
        "description": "The order in the units a UI displays: side in cNGN, price in USDC per cNGN to 10 decimal places, size in cNGN to 6. Since the cNGN-USDC orientation this equals engine_order; only the scale differs.",
        "properties": {
          "side": { "type": "string", "enum": ["buy", "sell"], "description": "buy acquires cNGN and pays USDC; sell delivers cNGN and receives USDC. On the perp, buy opens or extends a long of cNGN. Equals the engine side." },
          "price": { "type": "string", "description": "Price in USDC per cNGN, to 10 decimal places. Equals the engine price.", "example": "0.0007278" },
          "size": { "type": "string", "description": "Size in cNGN, to 6 decimal places. Equals the engine amount.", "example": "137400" }
        }
      },
      "SpotContract": {
        "type": "object",
        "description": "Present on cNGN-USDC and cNGN-PERP. Restates the raw engine order at display scales. ui_intent and engine_order are the same order in the same orientation (USDC per cNGN, sized in cNGN); ui_intent prints the price to 10 decimal places and the size to 6, engine_order carries the engine's 18.",
        "properties": {
          "spec": { "type": "string", "description": "The market's order_entry_spec.", "example": "cngn_usdc_spot_v1" },
          "ui_intent": { "$ref": "#/components/schemas/SpotUIIntent" },
          "engine_order": {
            "type": "object",
            "description": "The order as the matching engine sees it: cNGN traded against the quote asset, at the engine's full scale.",
            "properties": {
              "side": { "type": "string", "enum": ["buy", "sell"], "description": "Always equals ui_intent.side." },
              "price": { "type": "string", "description": "Engine price in USDC per cNGN.", "example": "0.0007278" },
              "amount": { "type": "string", "description": "Engine amount in cNGN.", "example": "137400" }
            }
          },
          "balance_delta": {
            "type": "object",
            "description": "Balance change if the order fills completely, signed, to 6 decimal places. A buy of size S at price P is cngn +S and usdc -S x P; a sell is cngn -S and usdc +S x P. On the perp this is the exposure a fill opens, not a token movement.",
            "properties": {
              "usdc": { "type": "string", "example": "-99.99972" },
              "cngn": { "type": "string", "example": "+137400" }
            }
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": [
          "order_id",
          "owner_address",
          "signer_address",
          "subaccount_id",
          "recipient_id",
          "nonce",
          "asset_address",
          "worst_fee",
          "expiry",
          "action_json",
          "signature"
        ],
        "properties": {
          "order_id": { "type": "string" },
          "owner_address": { "type": "string" },
          "signer_address": { "type": "string" },
          "subaccount_id": { "type": "string" },
          "recipient_id": { "type": "string" },
          "nonce": { "type": "string" },
          "side": { "type": "string", "enum": ["buy", "sell"] },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string", "default": "0" },
          "desired_amount": { "type": "string" },
          "filled_amount": { "type": "string", "default": "0" },
          "limit_price": { "type": "string" },
          "worst_fee": { "type": "string" },
          "expiry": { "type": "integer" },
          "order_entry_spec": { "type": "string", "description": "cNGN-USDC and cNGN-PERP only — sending it on an order for any other market is rejected. Optional: omit both this and ui_intent to submit raw engine values. If either is present, this must be the market's own spec — cngn_usdc_spot_v1 on spot, cngn_usdc_perp_v1 on the perp — and ui_intent becomes required. The retired usdc_cngn_spot_v1 and usdc_cngn_perp_v1 specs, and the other market's spec, are refused.", "example": "cngn_usdc_spot_v1" },
          "ui_intent": {
            "description": "cNGN-USDC and cNGN-PERP only — sending it on an order for any other market is rejected. Optional, and paired with order_entry_spec: sending one without the other is rejected. When present, the service derives side, limit_price and desired_amount from it as the identity: side = ui_intent.side, limit_price = ui_intent.price (USDC per cNGN), desired_amount = ui_intent.size (cNGN). If you send those fields as well, each must equal its ui_intent counterpart or the order is rejected.",
            "allOf": [{ "$ref": "#/components/schemas/SpotUIIntent" }]
          },
          "action_json": {},
          "signature": { "type": "string" }
        }
      },
      "CancelOrderRequest": {
        "type": "object",
        "required": ["owner_address", "nonce"],
        "properties": {
          "owner_address": { "type": "string" },
          "nonce": { "type": "string" }
        }
      },
      "Action": {
        "type": "object",
        "required": ["subaccount_id", "nonce", "module", "data", "expiry", "owner", "signer"],
        "properties": {
          "subaccount_id": { "type": "string" },
          "nonce": { "type": "string" },
          "module": { "type": "string" },
          "data": { "type": "string" },
          "expiry": { "type": "string" },
          "owner": { "type": "string" },
          "signer": { "type": "string" }
        }
      },
      "FillDetail": {
        "type": "object",
        "required": ["filled_account", "amount_filled", "price", "fee"],
        "properties": {
          "filled_account": { "type": "string" },
          "amount_filled": { "type": "string" },
          "price": { "type": "string" },
          "fee": { "type": "string" }
        }
      },
      "OrderData": {
        "type": "object",
        "required": ["taker_account", "taker_fee", "fill_details", "manager_data"],
        "properties": {
          "taker_account": { "type": "string" },
          "taker_fee": { "type": "string" },
          "fill_details": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FillDetail" }
          },
          "manager_data": { "type": "string" }
        }
      },
      "ExecuteMatchRequest": {
        "type": "object",
        "required": [
          "market",
          "asset_address",
          "module_address",
          "maker_order_id",
          "taker_order_id",
          "actions",
          "signatures",
          "order_data"
        ],
        "properties": {
          "market": { "type": "string" },
          "asset_address": { "type": "string" },
          "module_address": { "type": "string" },
          "maker_order_id": { "type": "string" },
          "taker_order_id": { "type": "string" },
          "actions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Action" }
          },
          "signatures": {
            "type": "array",
            "items": { "type": "string" }
          },
          "order_data": { "$ref": "#/components/schemas/OrderData" }
        }
      },
      "ExecuteMatchResponse": {
        "type": "object",
        "properties": {
          "accepted": { "type": "boolean" },
          "tx_hash": { "type": "string" },
          "receipt_status": { "type": "string" },
          "block_number": { "type": "string" }
        }
      },
      "Fill": {
        "type": "object",
        "required": ["trade_id", "order_id", "liquidity", "side", "price", "size", "asset_address", "sub_id", "created_at"],
        "properties": {
          "trade_id": { "type": "integer", "description": "The trade this fill belongs to, as on GET /v1/trades." },
          "order_id": { "type": "string", "description": "Your order that filled." },
          "liquidity": { "type": "string", "enum": ["taker", "maker"], "description": "taker when your order crossed the book, maker when it rested and was hit." },
          "side": { "type": "string", "enum": ["buy", "sell"], "description": "Your order's side: buy acquired cNGN and paid USDC. Equals spot_contract.ui_intent.side." },
          "price": { "type": "string", "description": "Price the fill executed at, in USDC per cNGN, at the engine's scale." },
          "size": { "type": "string", "description": "Size filled, in cNGN, at the engine's scale." },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "market": { "type": "string" },
          "display_name": { "type": "string" },
          "fee": { "type": "string", "description": "What your order paid on the fill, in USDC. 0 for a maker fill; for a taker, the fee charged. Absent when not known." },
          "tx_hash": { "type": "string", "description": "The Base transaction that settled the fill. Absent for fills recorded before it was stored." },
          "spot_contract": {
            "$ref": "#/components/schemas/SpotContract",
            "description": "The fill at display scales: ui_intent.size is the cNGN that changed hands, ui_intent.price the USDC per cNGN it traded at, and balance_delta what the fill moved."
          }
        }
      },
      "FillsResponse": {
        "type": "object",
        "required": ["fills"],
        "properties": {
          "fills": { "type": "array", "items": { "$ref": "#/components/schemas/Fill" } },
          "next_before": { "type": "string", "description": "Pass as before to fetch older fills. Absent on the last page." }
        }
      },
      "WithdrawalRequest": {
        "type": "object",
        "required": ["action", "signature"],
        "properties": {
          "action": {
            "type": "object",
            "description": "A Matching Action for the WithdrawalModule, signed with EIP-712 against the Matching domain.",
            "required": ["subaccount_id", "nonce", "module", "data", "expiry", "owner", "signer"],
            "properties": {
              "subaccount_id": { "type": "string", "description": "Base-10 subaccount id, deposited in Matching." },
              "nonce": { "type": "string", "description": "Base-10 uint256, unused by this owner in the WithdrawalModule." },
              "module": { "type": "string", "description": "The WithdrawalModule address." },
              "data": { "type": "string", "description": "abi.encode(address asset, uint256 amount): the wrapped asset, and the amount in the token's native decimals." },
              "expiry": { "type": "string", "description": "Unix seconds; in the future and at most one hour ahead." },
              "owner": { "type": "string", "description": "The subaccount's owner as Matching records it. Tokens are paid here." },
              "signer": { "type": "string", "description": "Must equal owner." }
            }
          },
          "signature": { "type": "string", "description": "EIP-712 signature by signer: 65 bytes, or longer for an ERC-1271 wallet." }
        }
      },
      "WithdrawalReceipt": {
        "type": "object",
        "required": ["accepted", "tx_hash"],
        "properties": {
          "accepted": { "type": "boolean", "description": "True once mined successfully." },
          "tx_hash": { "type": "string" },
          "receipt_status": { "type": "string", "enum": ["success", "reverted", "timeout"], "description": "timeout: broadcast, not yet confirmed." },
          "block_number": { "type": "string" }
        }
      },
      "DepositRequest": {
        "type": "object",
        "required": ["action", "signature"],
        "properties": {
          "action": {
            "type": "object",
            "description": "A Matching Action for the DepositModule, signed with EIP-712 against the Matching domain.",
            "required": ["subaccount_id", "nonce", "module", "data", "expiry", "owner", "signer"],
            "properties": {
              "subaccount_id": { "type": "string", "description": "Base-10. 0 opens a new account under the perp risk manager; otherwise your account to top up." },
              "nonce": { "type": "string", "description": "Base-10 uint256, unused by this owner in the DepositModule." },
              "module": { "type": "string", "description": "The DepositModule address." },
              "data": { "type": "string", "description": "abi.encode(uint256 amount, address asset, address managerForNewAccount). asset is the cash asset (USDC, minimum 10) or the cNGN escrow 0x37c976bb5d4887a714ef19AF6B83e34fe2f37c98 (cNGN, minimum 15,000); amount is in the token's 6-decimal base units (1000000000 = 1,000), explicit and at least that minimum; managerForNewAccount is the perp risk manager, or zero for a top-up." },
              "expiry": { "type": "string", "description": "Unix seconds; in the future and at most one hour ahead." },
              "owner": { "type": "string", "description": "Your address: the tokens are pulled from here, and you own the account." },
              "signer": { "type": "string", "description": "Must equal owner." }
            }
          },
          "signature": { "type": "string", "description": "EIP-712 signature by signer: 65 bytes, or longer for an ERC-1271 wallet." },
          "permit": {
            "type": "object",
            "description": "Optional EIP-2612 permit on Base USDC from owner to the DepositModule, instead of a prior approve. USDC only: cNGN has no permit, and a cNGN deposit carrying one is refused. The venue submits it with the DepositModule as spender, and skips it when the allowance already covers the deposit.",
            "required": ["value", "deadline", "signature"],
            "properties": {
              "value": { "type": "string", "description": "Base-10, 6-decimal USDC base units; at least the deposit amount." },
              "deadline": { "type": "string", "description": "Unix seconds; not yet passed." },
              "signature": { "type": "string", "description": "65-byte EIP-712 signature over USDC's Permit, by owner." }
            }
          }
        }
      },
      "DepositReceipt": {
        "type": "object",
        "required": ["accepted", "tx_hash", "asset", "asset_symbol", "amount", "amount_units", "credited_e18"],
        "properties": {
          "action_hash": { "type": "string", "description": "EIP-712 hash of the signed action (Matching.getActionHash); the key for GET /v1/deposits/{action_hash}." },
          "status": { "type": "string", "enum": ["pending", "submitted", "confirmed", "reverted", "rejected", "unknown"] },
          "accepted": { "type": "boolean", "description": "True once mined successfully." },
          "tx_hash": { "type": "string" },
          "receipt_status": { "type": "string", "enum": ["success", "reverted", "timeout"], "description": "timeout: broadcast, not yet confirmed." },
          "block_number": { "type": "string" },
          "subaccount_id": { "type": "string", "description": "The account credited: your new account when subaccount_id was 0. Absent until the receipt is known." },
          "asset": { "type": "string", "description": "The wrapped asset credited: the cash asset (USDC) or the cNGN escrow." },
          "asset_symbol": { "type": "string", "enum": ["USDC", "cNGN"] },
          "amount": { "type": "string", "description": "The deposit in the token, with 6 decimal places." },
          "amount_units": { "type": "string", "description": "The same amount in the token's 6-decimal base units, as signed." },
          "credited_e18": { "type": "string", "description": "What the account's balance of the asset rises by, at the ledger's 18 decimals." },
          "amount_usdc": { "type": "string", "description": "Same as amount; USDC deposits only." },
          "credited_cash_e18": { "type": "string", "description": "Same as credited_e18; USDC deposits only." },
          "permit_tx_hash": { "type": "string", "description": "The permit's transaction, when the deposit carried a permit and it was needed." }
        }
      },
      "DepositRecord": {
        "type": "object",
        "required": ["action_hash", "status", "owner", "asset", "asset_symbol", "amount", "amount_units", "credited_e18"],
        "properties": {
          "action_hash": { "type": "string" },
          "status": { "type": "string", "enum": ["pending", "submitted", "confirmed", "reverted", "rejected", "unknown"], "description": "rejected: refused before anything was sent; the same request may be resubmitted." },
          "owner": { "type": "string" },
          "nonce": { "type": "string" },
          "subaccount_id_requested": { "type": "string", "description": "0 for a new account." },
          "subaccount_id": { "type": "string", "description": "The account credited, once known." },
          "tx_hash": { "type": "string" },
          "permit_tx_hash": { "type": "string", "description": "The permit's transaction, when the deposit carried a permit and it was needed." },
          "block_number": { "type": "string" },
          "asset": { "type": "string" },
          "asset_symbol": { "type": "string", "enum": ["USDC", "cNGN"] },
          "amount": { "type": "string" },
          "amount_units": { "type": "string" },
          "credited_e18": { "type": "string" },
          "amount_usdc": { "type": "string", "description": "USDC deposits only." },
          "credited_cash_e18": { "type": "string", "description": "USDC deposits only." },
          "error": { "type": "string" },
          "revert": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "WithdrawalRejection": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string" },
          "revert": { "type": "string", "description": "The revert the simulation hit, e.g. WERC_CannotBeNegative." }
        }
      },
      "OrderHistoryResponse": {
        "type": "object",
        "required": ["orders"],
        "properties": {
          "orders": {
            "type": "array",
            "items": {
              "allOf": [
                { "$ref": "#/components/schemas/Order" },
                {
                  "type": "object",
                  "properties": {
                    "cancel_reason": { "type": "string", "description": "Why the order was cancelled; absent otherwise." },
                    "cancelled_at": { "type": "string", "format": "date-time", "description": "When the order was cancelled; absent otherwise." },
                    "filled_quote": { "type": "string", "description": "What actually traded, in USDC to 6 decimal places: the sum of fill price x size over the order's fills, taker or maker. Absent when the order has no fills. Prefer it over a size derived from the order's amount, which is valued at the signed limit and overstates a marketable order." }
                  }
                }
              ]
            }
          },
          "next_before": { "type": "string", "description": "Pass as before to fetch older orders. Absent on the last page." }
        }
      },
      "IntegrationTicker": {
        "type": "object",
        "description": "A market in its advertised orientation: cNGN priced in USDC. Price fields are null, never omitted, when there is no value: no fill yet, no resting bid or ask, or nothing traded in the last 24 hours.",
        "required": ["ticker_id", "base_currency", "target_currency", "last_price", "base_volume", "target_volume", "bid", "ask", "high", "low"],
        "properties": {
          "ticker_id": { "type": "string", "description": "The market identifier, cNGN-USDC or cNGN-PERP. Pass it as ticker_id to the orderbook and trades endpoints. base_currency and target_currency state the orientation.", "example": "cNGN-USDC" },
          "base_currency": { "type": "string", "description": "The asset priced. cNGN on cNGN-USDC and cNGN-PERP.", "example": "cNGN" },
          "target_currency": { "type": "string", "description": "The asset prices are quoted in. USDC on cNGN-USDC and cNGN-PERP.", "example": "USDC" },
          "last_price": { "type": ["string", "null"], "description": "Price of the most recent fill, at any age, in target_currency per base_currency (USDC per cNGN), rounded down to 10 decimal places.", "example": "0.0007278" },
          "base_volume": { "type": "string", "description": "Base asset (cNGN) traded over the trailing 24 hours, rounded down to 6 decimal places. 0 when nothing traded." },
          "target_volume": { "type": "string", "description": "Target asset (USDC) traded over the trailing 24 hours, rounded down to 18 decimal places. 0 when nothing traded." },
          "bid": { "type": ["string", "null"], "description": "Best bid in USDC per cNGN, rounded down to 10 decimal places. Equals the orderbook's top bid level price." },
          "ask": { "type": ["string", "null"], "description": "Best ask in USDC per cNGN, rounded up to 10 decimal places. Equals the orderbook's top ask level price." },
          "high": { "type": ["string", "null"], "description": "Highest fill price over the trailing 24 hours, in USDC per cNGN, rounded down to 10 decimal places." },
          "low": { "type": ["string", "null"], "description": "Lowest fill price over the trailing 24 hours, in USDC per cNGN, rounded down to 10 decimal places." }
        }
      },
      "IntegrationOrderbookResponse": {
        "type": "object",
        "required": ["ticker_id", "timestamp", "bids", "asks"],
        "properties": {
          "ticker_id": { "type": "string" },
          "timestamp": { "type": "integer", "description": "Unix milliseconds at which the book was read." },
          "bids": {
            "type": "array",
            "description": "Levels buying cNGN, highest price first. Empty array, never null, when there are none.",
            "items": { "$ref": "#/components/schemas/IntegrationLevel" }
          },
          "asks": {
            "type": "array",
            "description": "Levels selling cNGN, lowest price first. Empty array, never null, when there are none.",
            "items": { "$ref": "#/components/schemas/IntegrationLevel" }
          }
        }
      },
      "IntegrationLevel": {
        "type": "array",
        "description": "[price, quantity]: price in USDC per cNGN to 10 decimal places (bids rounded down, asks up), quantity in cNGN to 6 decimal places rounded down, summed over the resting orders at that price.",
        "prefixItems": [
          { "type": "string", "description": "Price in USDC per cNGN" },
          { "type": "string", "description": "Quantity in cNGN" }
        ],
        "minItems": 2,
        "maxItems": 2
      },
      "IntegrationTrade": {
        "type": "object",
        "required": ["trade_id", "price", "base_volume", "target_volume", "trade_timestamp", "type"],
        "properties": {
          "trade_id": { "type": "integer", "description": "The same trade_id GET /v1/trades reports." },
          "price": { "type": "string", "description": "target_currency per base_currency: USDC per cNGN, to 10 decimal places.", "example": "0.0007278" },
          "base_volume": { "type": "string", "description": "Base asset traded: cNGN, to 6 decimal places.", "example": "137400" },
          "target_volume": { "type": "string", "description": "Target asset traded: USDC (price x base_volume), to 18 decimal places.", "example": "99.99972" },
          "trade_timestamp": { "type": "integer", "description": "Unix milliseconds." },
          "type": { "type": "string", "enum": ["buy", "sell"], "description": "The taker's side in cNGN: buy means the taker acquired cNGN and paid USDC." }
        }
      },
      "IntegrationTradesResponse": {
        "type": "object",
        "required": ["ticker_id", "trades"],
        "properties": {
          "ticker_id": { "type": "string" },
          "trades": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/IntegrationTrade" }
          },
          "next_before_trade_id": { "type": "integer", "description": "Pass as before_trade_id to fetch older trades. Absent on the last page." }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        }
      },
      "UnknownMarketResponse": {
        "type": "object",
        "description": "The 400 from GET /v1/book, GET /v1/trades and GET /v1/candles when the request names no listed market.",
        "required": ["error", "message", "markets"],
        "properties": {
          "error": { "type": "string", "enum": ["unknown_market"] },
          "message": { "type": "string", "description": "no such market: <identifier> when the symbol or asset_address + sub_id matched nothing; symbol or asset_address is required when the request named no market.", "example": "no such market: NOPE" },
          "markets": { "type": "array", "items": { "type": "string" }, "description": "The canonical identifiers the venue accepts, in listing order. Deprecated aliases are accepted but not listed.", "example": ["cNGN-USDC", "cNGN-PERP"] }
        }
      }
    }
  }
}
