{
  "openapi": "3.1.0",
  "info": {
    "title": "Numo orderbook API",
    "description": "REST endpoints exposed by Numo's markets-service and execution-service for dollar stablecoins. Real-time book, trades, and order streams are served over the WebSocket endpoint documented in the WebSocket streams reference.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.numofx.com",
      "description": "markets-service"
    },
    {
      "url": "https://executor.numofx.com",
      "description": "execution-service"
    }
  ],
  "tags": [
    {
      "name": "Markets service"
    },
    {
      "name": "Execution service"
    }
  ],
  "paths": {
    "/v1/markets": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List enabled markets",
        "operationId": "listMarkets",
        "responses": {
          "200": {
            "description": "Enabled market metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketPresentation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/book": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get order book",
        "operationId": "getOrderBook",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Canonical market symbol such as USDCcNGN-SPOT"
          },
          {
            "name": "asset_address",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "sub_id",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Top of book for a market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unknown market",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/tickers": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List tickers for integrators",
        "description": "One ticker per enabled market, in the pair orientation GET /v1/markets advertises: base_currency is the asset priced, target_currency the asset it is priced in. On USDCcNGN-SPOT that is USDC priced in cNGN, the inverse of the engine values GET /v1/book and GET /v1/trades report. Use this endpoint, not stats_24h, for a market data listing. Responses are cached for up to 5 seconds and carry Cache-Control: public, max-age=5, so polling faster than that returns the same data.",
        "operationId": "listIntegrationTickers",
        "responses": {
          "200": {
            "description": "Tickers for every enabled market, sorted by ticker_id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/IntegrationTicker" }
                }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/orderbook": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get orderbook for integrators",
        "description": "Resting orders aggregated into price levels in the advertised pair orientation. On USDCcNGN-SPOT, bids are orders buying USDC and asks are orders selling it, priced in cNGN per USDC with quantities in USDC. Bid prices round down and ask prices round up to 6 decimal places, and quantities round down, so no level shows a better price or more size than is resting. Responses are cached for up to 5 seconds and carry Cache-Control: public, max-age=5, so polling faster than that returns the same data.",
        "operationId": "getIntegrationOrderbook",
        "parameters": [
          {
            "name": "ticker_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "A ticker_id from GET /v1/integrations/tickers, such as USDCcNGN-SPOT. An unknown value is rejected rather than answered with another market."
          },
          {
            "name": "depth",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 50 },
            "description": "Maximum price levels per side."
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregated levels, best first",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IntegrationOrderbookResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or unknown ticker_id, or depth out of range",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/integrations/trades": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List trades for integrators",
        "description": "Fills newest first, in the advertised pair orientation. On USDCcNGN-SPOT, price is cNGN per USDC, base_volume is USDC and target_volume is cNGN. Responses are cached for up to 5 seconds and carry Cache-Control: public, max-age=5, so polling faster than that returns the same data.",
        "operationId": "listIntegrationTrades",
        "parameters": [
          {
            "name": "ticker_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "A ticker_id from GET /v1/integrations/tickers, such as USDCcNGN-SPOT."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 100 }
          },
          {
            "name": "before_trade_id",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 },
            "description": "The next_before_trade_id from the previous page, to page to older trades."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of trades, newest first",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IntegrationTradesResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or unknown ticker_id, or an invalid limit or before_trade_id",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/candles": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get OHLCV candles",
        "operationId": "getCandles",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Canonical market symbol such as USDCcNGN-SPOT"
          },
          {
            "name": "asset_address",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "sub_id",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "interval",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["1m", "5m", "15m", "1h", "4h", "1d"],
              "default": "1h"
            },
            "description": "Bucket size"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 1000, "default": 200 },
            "description": "Maximum number of buckets to return"
          },
          {
            "name": "start",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "RFC3339 lower bound, inclusive"
          },
          {
            "name": "end",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" },
            "description": "RFC3339 upper bound, must be after start"
          }
        ],
        "responses": {
          "200": {
            "description": "OHLCV buckets, oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandlesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unknown market or invalid query parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/trades": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get recent trades",
        "operationId": "getTrades",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "asset_address",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "sub_id",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100 }
          },
          {
            "name": "before_trade_id",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades and 24h stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List order history",
        "operationId": "listOrderHistory",
        "description": "The authenticated owner's orders in every status (active, matching, filled, cancelled, expired), newest first. The owner is taken from the signed X-Numo-Auth frame, never from a parameter. Filled orders, and any cancelled or expired order that traded, are retained indefinitely; cancelled and expired orders with no fills for 30 days.",
        "parameters": [
          {
            "name": "X-Numo-Auth",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Base64url-encoded JSON auth frame {address, signature, nonce, issued_at, expiry}, signed with personal_sign over the order-history message. See the endpoint page for the exact message."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "The next_before value from the previous page, to page to older orders."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the owner's orders, newest first",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OrderHistoryResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid limit or before cursor",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, expired or mismatched auth frame",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Markets service"],
        "summary": "Create order",
        "operationId": "createOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Accepted order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "409": {
            "description": "Duplicate order",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/fills": {
      "get": {
        "tags": ["Markets service"],
        "summary": "List fills",
        "operationId": "listFills",
        "description": "The fills on the authenticated owner's orders, newest first. Takes the same X-Numo-Auth frame as GET /v1/orders; the owner is taken from it, never from a parameter. A trade between two of the owner's orders is listed once per order.",
        "parameters": [
          {
            "name": "X-Numo-Auth",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "Base64url-encoded JSON auth frame {address, signature, nonce, issued_at, expiry}, signed with personal_sign over the order-history message. The same frame GET /v1/orders accepts."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "The next_before value from the previous page, to page to older fills."
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the owner's fills, newest first",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FillsResponse" }
              }
            }
          },
          "400": {
            "description": "Invalid limit or before cursor",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, expired or mismatched auth frame",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/withdrawals": {
      "post": {
        "tags": ["Markets service"],
        "summary": "Create a withdrawal",
        "operationId": "createWithdrawal",
        "description": "Withdraws from a subaccount held by Matching with one signed WithdrawalModule action. The venue verifies the signature and that Matching records action.owner as the owner, simulates the withdrawal, and submits it through Matching.verifyAndMatch. Tokens are paid to action.owner. Every check fails closed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WithdrawalRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted. receipt_status timeout means broadcast but not yet confirmed.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WithdrawalReceipt" }
              }
            }
          },
          "400": {
            "description": "Malformed or off-policy request, or the subaccount is not deposited in Matching",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "401": {
            "description": "The signature does not authorize the action",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "403": {
            "description": "Matching records another owner for the subaccount",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "422": {
            "description": "The executor refused it: the simulation reverted, and revert names the revert",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WithdrawalRejection" } } }
          },
          "429": {
            "description": "A withdrawal for this owner is in progress, or more than five were requested in a minute",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "502": {
            "description": "Outcome unknown: check the balance before signing another withdrawal",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "503": {
            "description": "Withdrawals are not enabled, or the signature or owner could not be read",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          }
        }
      }
    },
    "/v1/orders/{order_id}": {
      "get": {
        "tags": ["Markets service"],
        "summary": "Get order status",
        "operationId": "getOrderStatus",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The order_id returned when the order was created"
          }
        ],
        "responses": {
          "200": {
            "description": "Current status and fill snapshot for the order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStatusResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/orders/cancel": {
      "post": {
        "tags": ["Markets service"],
        "summary": "Cancel order by owner and nonce",
        "operationId": "cancelOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancelled order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "description": "Active order not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/execute": {
      "post": {
        "tags": ["Execution service"],
        "summary": "Execute a matched trade payload",
        "operationId": "executeMatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteMatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Match accepted by executor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteMatchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid executor payload",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MarketPresentation": {
        "type": "object",
        "properties": {
          "market": { "type": "string" },
          "contract_type": { "type": "string" },
          "settlement_type": { "type": "string" },
          "base_asset_symbol": { "type": "string" },
          "quote_asset_symbol": { "type": "string" },
          "expiry_timestamp": { "type": "integer", "description": "Unix seconds at which the market expires. Omitted for markets that do not expire, including USDCcNGN-SPOT." },
          "display_name": { "type": "string" },
          "display_label": { "type": "string" },
          "tick_size": { "type": "string", "description": "Smallest price increment. Order prices are normalized against it." },
          "min_size": { "type": "string", "description": "Smallest tradable size. Order amounts are normalized against it, and an amount below it normalizes to zero and is rejected.", "example": "0.001" },
          "contract_multiplier": { "type": "string", "description": "Units of the base asset per contract. 1 for the USDC/cNGN spot market.", "example": "1" },
          "settlement_note": { "type": "string" },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string" },
          "pricing_model": { "type": "string", "enum": ["linear", "variance", "volatility"], "description": "How the instrument's price relates to its underlying. All current markets are linear." },
          "price_semantics": { "type": "string", "enum": ["linear", "variance", "volatility"], "description": "Interpretation of the raw price fields. Mirrors pricing_model." },
          "display_price_kind": { "type": "string", "enum": ["direct", "vol_percent"], "description": "How a client should render the price. All current markets are direct." },
          "display_semantics": { "type": "string", "enum": ["direct", "vol_percent"], "description": "Interpretation of the displayed price. Mirrors display_price_kind." },
          "last_trade_timestamp": { "type": "integer", "description": "Unix seconds of the most recent fill." },
          "order_entry_spec": { "type": "string", "description": "Spot only. Identifies the order translation contract, such as usdc_cngn_spot_v1." },
          "ui_price_unit": { "type": "string", "description": "Spot only. Unit of ui_intent.price.", "example": "cNGN per USDC" },
          "ui_size_unit": { "type": "string", "description": "Spot only. Unit of ui_intent.size.", "example": "USDC notional" },
          "ui_side_meaning": { "type": "string", "description": "Spot only. What each trader-facing side does." },
          "engine_price_unit": { "type": "string", "description": "Spot only. Unit of the raw price and limit_price fields.", "example": "USDC per cNGN" },
          "engine_amount_unit": { "type": "string", "description": "Spot only.", "example": "cNGN amount" },
          "engine_side_policy": { "type": "string", "description": "Spot only. How trader side maps to engine side.", "example": "invert_ui_side" },
          "ui_price_to_engine": { "type": "string", "description": "Spot only. Price conversion formula.", "example": "engine_price = 1 / ui_price" },
          "ui_size_to_engine": { "type": "string", "description": "Spot only. Size conversion formula.", "example": "engine_amount = ui_size * ui_price" }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string" },
          "owner_address": { "type": "string" },
          "signer_address": { "type": "string" },
          "subaccount_id": { "type": "string" },
          "recipient_id": { "type": "string" },
          "nonce": { "type": "string" },
          "side": { "type": "string", "enum": ["buy", "sell"] },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string" },
          "desired_amount": { "type": "string" },
          "filled_amount": { "type": "string" },
          "limit_price": { "type": "string" },
          "worst_fee": { "type": "string" },
          "expiry": { "type": "integer" },
          "action_json": {},
          "signature": { "type": "string" },
          "status": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time", "description": "When the order was accepted onto the book." },
          "market": { "type": "string" },
          "contract_type": { "type": "string" },
          "settlement_type": { "type": "string" },
          "base_asset_symbol": { "type": "string" },
          "quote_asset_symbol": { "type": "string" },
          "display_name": { "type": "string" },
          "display_label": { "type": "string" },
          "tick_size": { "type": "string" },
          "price_semantics": { "type": "string" },
          "display_semantics": { "type": "string" },
          "spot_contract": { "$ref": "#/components/schemas/SpotContract" }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "order": { "$ref": "#/components/schemas/Order" }
        }
      },
      "Candle": {
        "type": "object",
        "properties": {
          "bucket_start": { "type": "string", "format": "date-time" },
          "open": { "type": "string" },
          "high": { "type": "string" },
          "low": { "type": "string" },
          "close": { "type": "string" },
          "volume": { "type": "string" },
          "quote_volume": { "type": "string" },
          "trade_count": { "type": "integer" }
        }
      },
      "CandlesResponse": {
        "type": "object",
        "properties": {
          "market_presentation": { "$ref": "#/components/schemas/MarketPresentation" },
          "interval": { "type": "string" },
          "candles": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Candle" }
          }
        }
      },
      "OrderStatusResponse": {
        "type": "object",
        "properties": {
          "order_id": { "type": "string" },
          "status": { "type": "string" },
          "filled_amount": { "type": "string" },
          "remaining_amount": { "type": "string" },
          "cancel_reason": { "type": "string" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "BookResponse": {
        "type": "object",
        "properties": {
          "market_presentation": { "$ref": "#/components/schemas/MarketPresentation" },
          "bids": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Order" }
          },
          "asks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Order" }
          }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "trade_id": { "type": "integer" },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string" },
          "price": { "type": "string" },
          "size": { "type": "string" },
          "aggressor_side": { "type": "string" },
          "taker_order_id": { "type": "string" },
          "maker_order_id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "market": { "type": "string" },
          "contract_type": { "type": "string" },
          "settlement_type": { "type": "string" },
          "spot_contract": { "$ref": "#/components/schemas/SpotContract" }
        }
      },
      "TradeStats24h": {
        "type": "object",
        "description": "Stats over the trailing 24 hours, computed from the market's fills on each request: a rolling window, not the UTC day. Prices are raw engine values (USDC per cNGN on USDCcNGN-SPOT). Every field is omitted when nothing traded in the window.",
        "properties": {
          "change": { "type": "string", "description": "Last price minus the window's first traded price, in engine price units." },
          "high": { "type": "string", "description": "Highest engine price in the window. On USDCcNGN-SPOT, 1/high is the lowest cNGN-per-USDC price." },
          "last": { "type": "string", "description": "Most recent engine price in the window." },
          "low": { "type": "string", "description": "Lowest engine price in the window. On USDCcNGN-SPOT, 1/low is the highest cNGN-per-USDC price." },
          "volume": { "type": "string", "description": "Summed fill size in the engine's traded unit: whole cNGN on USDCcNGN-SPOT." },
          "quote_volume": { "type": "string", "description": "Summed fill notional (price x size) in the quote asset: the USDC traded on USDCcNGN-SPOT. Use this, not volume, for a USDC figure." }
        }
      },
      "TradesResponse": {
        "type": "object",
        "properties": {
          "market_presentation": { "$ref": "#/components/schemas/MarketPresentation" },
          "stats_24h": { "$ref": "#/components/schemas/TradeStats24h" },
          "trades": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Trade" }
          },
          "next_before_trade_id": { "type": "integer" }
        }
      },
      "SpotUIIntent": {
        "type": "object",
        "description": "Trader-facing view of a spot order, in the units a UI displays.",
        "properties": {
          "side": { "type": "string", "enum": ["buy", "sell"], "description": "buy acquires USDC and sells cNGN inventory; sell delivers USDC and buys cNGN inventory." },
          "price": { "type": "string", "description": "Price in cNGN per USDC. The reciprocal of the engine price.", "example": "1371.977018" },
          "size": { "type": "string", "description": "Size as a USDC notional.", "example": "1.199729" }
        }
      },
      "SpotContract": {
        "type": "object",
        "description": "Present only on spot markets. Restates the raw engine order in trader-facing terms. Read ui_intent.price for a price in cNGN per USDC; the sibling price and limit_price fields are raw engine values in USDC per cNGN.",
        "properties": {
          "spec": { "type": "string", "example": "usdc_cngn_spot_v1" },
          "ui_intent": { "$ref": "#/components/schemas/SpotUIIntent" },
          "engine_order": {
            "type": "object",
            "description": "The order as the matching engine sees it: cNGN traded against internal USDC cash.",
            "properties": {
              "side": { "type": "string", "enum": ["buy", "sell"], "description": "Always the inverse of ui_intent.side." },
              "price": { "type": "string", "description": "Engine price in USDC per cNGN.", "example": "0.000728875182750367" },
              "amount": { "type": "string", "description": "Engine amount as a whole cNGN quantity.", "example": "1646" }
            }
          },
          "balance_delta": {
            "type": "object",
            "description": "Balance change if the order fills completely.",
            "properties": {
              "usdc": { "type": "string", "example": "-1.199729" },
              "cngn": { "type": "string", "example": "+1646" }
            }
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "required": [
          "order_id",
          "owner_address",
          "signer_address",
          "subaccount_id",
          "recipient_id",
          "nonce",
          "asset_address",
          "worst_fee",
          "expiry",
          "action_json",
          "signature"
        ],
        "properties": {
          "order_id": { "type": "string" },
          "owner_address": { "type": "string" },
          "signer_address": { "type": "string" },
          "subaccount_id": { "type": "string" },
          "recipient_id": { "type": "string" },
          "nonce": { "type": "string" },
          "side": { "type": "string", "enum": ["buy", "sell"] },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string", "default": "0" },
          "desired_amount": { "type": "string" },
          "filled_amount": { "type": "string", "default": "0" },
          "limit_price": { "type": "string" },
          "worst_fee": { "type": "string" },
          "expiry": { "type": "integer" },
          "order_entry_spec": { "type": "string", "description": "Spot markets only — sending it on an order for any other market is rejected. Optional: omit both this and ui_intent to submit raw engine values. If either is present, this must be exactly usdc_cngn_spot_v1 and ui_intent becomes required.", "example": "usdc_cngn_spot_v1" },
          "ui_intent": {
            "description": "Spot markets only — sending it on an order for any other market is rejected. Optional, and paired with order_entry_spec: sending one without the other is rejected. When present, the service derives side, limit_price and desired_amount from it. If you send those fields as well, each must match the translation exactly or the order is rejected.",
            "allOf": [{ "$ref": "#/components/schemas/SpotUIIntent" }]
          },
          "action_json": {},
          "signature": { "type": "string" }
        }
      },
      "CancelOrderRequest": {
        "type": "object",
        "required": ["owner_address", "nonce"],
        "properties": {
          "owner_address": { "type": "string" },
          "nonce": { "type": "string" }
        }
      },
      "Action": {
        "type": "object",
        "required": ["subaccount_id", "nonce", "module", "data", "expiry", "owner", "signer"],
        "properties": {
          "subaccount_id": { "type": "string" },
          "nonce": { "type": "string" },
          "module": { "type": "string" },
          "data": { "type": "string" },
          "expiry": { "type": "string" },
          "owner": { "type": "string" },
          "signer": { "type": "string" }
        }
      },
      "FillDetail": {
        "type": "object",
        "required": ["filled_account", "amount_filled", "price", "fee"],
        "properties": {
          "filled_account": { "type": "string" },
          "amount_filled": { "type": "string" },
          "price": { "type": "string" },
          "fee": { "type": "string" }
        }
      },
      "OrderData": {
        "type": "object",
        "required": ["taker_account", "taker_fee", "fill_details", "manager_data"],
        "properties": {
          "taker_account": { "type": "string" },
          "taker_fee": { "type": "string" },
          "fill_details": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/FillDetail" }
          },
          "manager_data": { "type": "string" }
        }
      },
      "ExecuteMatchRequest": {
        "type": "object",
        "required": [
          "market",
          "asset_address",
          "module_address",
          "maker_order_id",
          "taker_order_id",
          "actions",
          "signatures",
          "order_data"
        ],
        "properties": {
          "market": { "type": "string" },
          "asset_address": { "type": "string" },
          "module_address": { "type": "string" },
          "maker_order_id": { "type": "string" },
          "taker_order_id": { "type": "string" },
          "actions": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Action" }
          },
          "signatures": {
            "type": "array",
            "items": { "type": "string" }
          },
          "order_data": { "$ref": "#/components/schemas/OrderData" }
        }
      },
      "ExecuteMatchResponse": {
        "type": "object",
        "properties": {
          "accepted": { "type": "boolean" },
          "tx_hash": { "type": "string" },
          "receipt_status": { "type": "string" },
          "block_number": { "type": "string" }
        }
      },
      "Fill": {
        "type": "object",
        "required": ["trade_id", "order_id", "liquidity", "side", "price", "size", "asset_address", "sub_id", "created_at"],
        "properties": {
          "trade_id": { "type": "integer", "description": "The trade this fill belongs to, as on GET /v1/trades." },
          "order_id": { "type": "string", "description": "Your order that filled." },
          "liquidity": { "type": "string", "enum": ["taker", "maker"], "description": "taker when your order crossed the book, maker when it rested and was hit." },
          "side": { "type": "string", "enum": ["buy", "sell"], "description": "Your order's engine side. On the spot market, the inverse of spot_contract.ui_intent.side." },
          "price": { "type": "string", "description": "Engine price the fill executed at, in USDC per cNGN." },
          "size": { "type": "string", "description": "Engine size filled, in whole cNGN." },
          "asset_address": { "type": "string" },
          "sub_id": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "market": { "type": "string" },
          "display_name": { "type": "string" },
          "fee": { "type": "string", "description": "What your order paid on the fill, in USDC. 0 for a maker fill; for a taker, the fee charged. Absent when not known." },
          "tx_hash": { "type": "string", "description": "The Base transaction that settled the fill. Absent for fills recorded before it was stored." },
          "spot_contract": {
            "$ref": "#/components/schemas/SpotContract",
            "description": "The fill in trader terms: ui_intent.size is the USDC that changed hands and balance_delta what the fill moved."
          }
        }
      },
      "FillsResponse": {
        "type": "object",
        "required": ["fills"],
        "properties": {
          "fills": { "type": "array", "items": { "$ref": "#/components/schemas/Fill" } },
          "next_before": { "type": "string", "description": "Pass as before to fetch older fills. Absent on the last page." }
        }
      },
      "WithdrawalRequest": {
        "type": "object",
        "required": ["action", "signature"],
        "properties": {
          "action": {
            "type": "object",
            "description": "A Matching Action for the WithdrawalModule, signed with EIP-712 against the Matching domain.",
            "required": ["subaccount_id", "nonce", "module", "data", "expiry", "owner", "signer"],
            "properties": {
              "subaccount_id": { "type": "string", "description": "Base-10 subaccount id, deposited in Matching." },
              "nonce": { "type": "string", "description": "Base-10 uint256, unused by this owner in the WithdrawalModule." },
              "module": { "type": "string", "description": "The WithdrawalModule address." },
              "data": { "type": "string", "description": "abi.encode(address asset, uint256 amount): the wrapped asset, and the amount in the token's native decimals." },
              "expiry": { "type": "string", "description": "Unix seconds; in the future and at most one hour ahead." },
              "owner": { "type": "string", "description": "The subaccount's owner as Matching records it. Tokens are paid here." },
              "signer": { "type": "string", "description": "Must equal owner." }
            }
          },
          "signature": { "type": "string", "description": "EIP-712 signature by signer: 65 bytes, or longer for an ERC-1271 wallet." }
        }
      },
      "WithdrawalReceipt": {
        "type": "object",
        "required": ["accepted", "tx_hash"],
        "properties": {
          "accepted": { "type": "boolean", "description": "True once mined successfully." },
          "tx_hash": { "type": "string" },
          "receipt_status": { "type": "string", "enum": ["success", "reverted", "timeout"], "description": "timeout: broadcast, not yet confirmed." },
          "block_number": { "type": "string" }
        }
      },
      "WithdrawalRejection": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string" },
          "revert": { "type": "string", "description": "The revert the simulation hit, e.g. WERC_CannotBeNegative." }
        }
      },
      "OrderHistoryResponse": {
        "type": "object",
        "required": ["orders"],
        "properties": {
          "orders": {
            "type": "array",
            "items": {
              "allOf": [
                { "$ref": "#/components/schemas/Order" },
                {
                  "type": "object",
                  "properties": {
                    "cancel_reason": { "type": "string", "description": "Why the order was cancelled; absent otherwise." },
                    "cancelled_at": { "type": "string", "format": "date-time", "description": "When the order was cancelled; absent otherwise." },
                    "filled_quote": { "type": "string", "description": "What actually traded, in USDC to 6 decimal places: the sum of fill price x size over the order's fills, taker or maker. Absent when the order has no fills. Prefer it over a size derived from the order's amount, which is valued at the signed limit and overstates a marketable order." }
                  }
                }
              ]
            }
          },
          "next_before": { "type": "string", "description": "Pass as before to fetch older orders. Absent on the last page." }
        }
      },
      "IntegrationTicker": {
        "type": "object",
        "description": "A market in its advertised orientation. Price fields are null, never omitted, when there is no value: no fill yet, no resting bid or ask, or nothing traded in the last 24 hours.",
        "required": ["ticker_id", "base_currency", "target_currency", "last_price", "base_volume", "target_volume", "bid", "ask", "high", "low"],
        "properties": {
          "ticker_id": { "type": "string", "description": "Market symbol, such as USDCcNGN-SPOT. Pass it as ticker_id to the orderbook and trades endpoints." },
          "base_currency": { "type": "string", "description": "The asset priced. USDC on USDCcNGN-SPOT." },
          "target_currency": { "type": "string", "description": "The asset prices are quoted in. cNGN on USDCcNGN-SPOT." },
          "last_price": { "type": ["string", "null"], "description": "Price of the most recent fill, at any age, in target_currency per base_currency." },
          "base_volume": { "type": "string", "description": "Base asset traded over the trailing 24 hours. USDC on USDCcNGN-SPOT. 0 when nothing traded." },
          "target_volume": { "type": "string", "description": "Target asset traded over the trailing 24 hours. cNGN on USDCcNGN-SPOT. 0 when nothing traded." },
          "bid": { "type": ["string", "null"], "description": "Best bid. Equals the orderbook's top bid level price." },
          "ask": { "type": ["string", "null"], "description": "Best ask. Equals the orderbook's top ask level price." },
          "high": { "type": ["string", "null"], "description": "Highest fill price over the trailing 24 hours." },
          "low": { "type": ["string", "null"], "description": "Lowest fill price over the trailing 24 hours." }
        }
      },
      "IntegrationOrderbookResponse": {
        "type": "object",
        "required": ["ticker_id", "timestamp", "bids", "asks"],
        "properties": {
          "ticker_id": { "type": "string" },
          "timestamp": { "type": "integer", "description": "Unix milliseconds at which the book was read." },
          "bids": {
            "type": "array",
            "description": "Levels buying the base asset, highest price first. Empty array, never null, when there are none.",
            "items": { "$ref": "#/components/schemas/IntegrationLevel" }
          },
          "asks": {
            "type": "array",
            "description": "Levels selling the base asset, lowest price first. Empty array, never null, when there are none.",
            "items": { "$ref": "#/components/schemas/IntegrationLevel" }
          }
        }
      },
      "IntegrationLevel": {
        "type": "array",
        "description": "[price, quantity]: price in target_currency per base_currency, quantity in base_currency, summed over the resting orders at that price.",
        "prefixItems": [
          { "type": "string", "description": "Price" },
          { "type": "string", "description": "Quantity in the base asset" }
        ],
        "minItems": 2,
        "maxItems": 2
      },
      "IntegrationTrade": {
        "type": "object",
        "required": ["trade_id", "price", "base_volume", "target_volume", "trade_timestamp", "type"],
        "properties": {
          "trade_id": { "type": "integer", "description": "The same trade_id GET /v1/trades reports." },
          "price": { "type": "string", "description": "target_currency per base_currency. cNGN per USDC on USDCcNGN-SPOT." },
          "base_volume": { "type": "string", "description": "Base asset traded. USDC on USDCcNGN-SPOT." },
          "target_volume": { "type": "string", "description": "Target asset traded. cNGN on USDCcNGN-SPOT." },
          "trade_timestamp": { "type": "integer", "description": "Unix milliseconds." },
          "type": { "type": "string", "enum": ["buy", "sell"], "description": "The taker's side in the base asset: buy means the taker acquired it." }
        }
      },
      "IntegrationTradesResponse": {
        "type": "object",
        "required": ["ticker_id", "trades"],
        "properties": {
          "ticker_id": { "type": "string" },
          "trades": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/IntegrationTrade" }
          },
          "next_before_trade_id": { "type": "integer", "description": "Pass as before_trade_id to fetch older trades. Absent on the last page." }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        }
      }
    }
  }
}
